{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bubble') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bubble') }}
{% endblock %}

{% block body %}

    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-xl-5 col-md-8">
                    <form method="post" class="bg-white rounded-5 shadow-5-strong p-5">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="form1Example1" class="form-control">
                            <label class="form-label" for="form1Example1" style="margin-left: 0px;">{% trans %}login.email{% endtrans %}</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

                        <div class="form-outline mb-4">
                            <input type="password" name="password" id="form1Example2" class="form-control">
                            <label class="form-label" for="form1Example2" style="margin-left: 0px;">{% trans %}login.password.password{% endtrans %}</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

                        <div class="row mb-4">
                            <div class="col text-center">
                                <a href="#!">{% trans %}login.password.forgot{% endtrans %}?</a>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button type="submit" class="btn btn-primary btn-block">{% trans %}login.sign.in{% endtrans %}</button>
                    </form>

                    <div class="dropdown d-flex justify-content-center mt-3 ">
                        <button
                                class="btn btn-rounded btn-info dropdown-toggle"
                                type="button"
                                id="languageSwitch"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <img width="20" height="20" src="{{ asset(language.flag) }}"> {{ language.trans }}
                        </button>
                        <ul id="language-wrap" class="dropdown-menu" aria-labelledby="languageSwitch">
                            <li><a class="dropdown-item" href="/language/lt"><img width="20" height="20" src="{{ asset('build/images/lt.png') }}"> {% trans %}lang.lt{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="/language/en"><img width="20" height="20" src="{{ asset('build/images/en.png') }}"> {% trans %}lang.en{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="/language/pl"><img width="20" height="20" src="{{ asset('build/images/pl.png') }}"> {% trans %}lang.pl{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
